body {
    font-family: 'Lato', Arial;
    color: #fff !important;
    background: #97d1ab url('../img/david-breuer-web-developer.jpg') center center no-repeat fixed;
    background-size: cover;
}

.overlay {
    /*background: rgba(108, 197, 241, 0.4);*/
    background: url('../img/pattern.png') top left;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

#wrap {
    width: 100%;
    height: 100%;
    display: table;
    position: relative;
    z-index: 10000;
    padding: 150px 0 0 0;
}

#logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
    -webkit-transition: all 1.2s ease;
    transition: all 1.2s ease;
    -webkit-transition-delay: 2s;
    transition-delay: 2s;

}

#logo.loading {
    top: 50%;
    left: 50%;
    width: 640px;
    -webkit-transform: translate(-50%,-50%) rotate(5deg);
    -webkit-transform-origin: 50% 50%;
    transform: translate(-50%,-50%) rotate(5deg);
    transform-origin: 50% 50%;
}
.container {
    margin: 0px auto;
    -webkit-transition-delay: 3.2s;
    transition-delay: 3.2s;
}

#defaultCountdown {
    z-index: 2;
    margin: 0 auto;
    display: table;
    position: relative;
}

h1 {
    font-size: 56px;
    font-weight: 300;
    text-align: center;
    margin-top: 0px;
    letter-spacing: -1px;
    line-height: 1em;
}

h1 span {
    font-size: 140px;
    font-weight: 900;
    letter-spacing: -5px;
    line-height: 1.1em;
}
svg {
    margin: 0px auto;
    width: 100%;
}
svg:after {
    clear: both;
    float: none;
}
.green {
    color: #6cc5f1;
}

.dots {
    font-size: 140px;
    font-weight: 900;
}

.subtitle {
    font-size: 56px;
    font-weight: 900;
    letter-spacing: -1px;
}

p {
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    font-weight: 300;
}

form {
    margin: 0 auto;
    display: table;
    margin-top: 50px;
}

input[type="text"] {
    background: rgba(0, 0, 0, .5);
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    border: none;
    height: 53px;
    color: #fff;
    font-family: 'Lato', Arial;
    font-size: 16px;
    padding-left: 20px;
    width: 265px;
}

input[type="submit"] {
    font-family: 'Lato', Arial;
    background: #FFF;
    color: #333;
    border: none;
    font-size: 24px;
    font-weight: 500;
    padding: 12px 30px;
    position: relative;
    top: 3px;
    left: -10px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

input[type="submit"]:hover {
    color: #FFF;
    background: #6e9b7d;
}

a {
    color: #fff;
    text-decoration: underline;
}

p.copyright {
    font-size: 13px;
    margin-top: 30px;
}
@media (max-width: 768px) {
    #logo {
        max-width: 100%;
    }
}
@media (max-width: 420px) {

    h1, .subtitle {
        font-size: 32px;
        line-height: 36px;
    }

    h1 span, .dots {
        font-size: 115px;
    }

    input[type="text"] {
        width: 150px;
        font-size: 14px;
        padding-left: 5px;
    }

    input[type="submit"] {
        left: -3px;
        top: 5px;
    }

}